{
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "json"
    ],
    "env": {
        "node": true
    },
    "rules": {
        // Possible Errors
        "comma-dangle": ["error", "always-multiline"],
        "no-inner-declarations": "off",
        "no-regex-spaces": "off",

        // Stylistic Issues
        "array-bracket-spacing": "error",
        "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
        "comma-style": "error",
        "computed-property-spacing": "error",
        "consistent-this": ["error", "that"],
        "indent": ["error", 2, {"SwitchCase": 1, "ObjectExpression": "first"}],
        "linebreak-style": "error",
        "keyword-spacing": "error",
        "no-lonely-if": "error",
        "no-multiple-empty-lines": ["error", {"max": 1}],
        "no-nested-ternary": "error",
        "no-underscore-dangle": "off",
        "no-unneeded-ternary": "error",
        "object-curly-spacing": "error",
        "one-var": ["error", {"initialized": "never", "uninitialized": "always"}],
        "operator-assignment": ["error", "always"],
        "operator-linebreak": "error",
        "quotes": ["error", "single", {"avoidEscape": true}],
        "semi-spacing": "error",
        "semi": "error",
        "space-before-blocks": "error",
        "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
        "space-in-parens": "error",
        "wrap-regex": "error",

        // ECMAScript 6
        "constructor-super": "error",
        "generator-star-spacing": ["error", "after"],
        "no-this-before-super": "error",
        "no-var": "error",
        "prefer-const": "error"
    },
}
